.container{
    background-color: rgb(236, 224, 209);
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 10px;
}
.item{
    
    grid-row-start: 2;
    grid-row-end: 6;
    border: solid 1px black;
    border-radius: 5px;
}
.item1{
    grid-column: 1 / span 3;
    border: solid 1px black;
    border-radius: 5px;
    text-align: center;
}
.item2{
    grid-row-start: 2;
    grid-row-end: 6;
    border: solid 1px black;
    border-radius: 5px;
}
.item3{
    grid-column: 1 / span 3;
    border: solid 1px black;
    border-radius: 5px;
}
